src/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/
glibc/
.bash_sessions/
.bin/
.bundle/
.cache/
.gem/
.local/
.meteor/
.config/
.node-gyp/
.npm/
.rbenv/
.stack
.CFUserTextEncoding
.Trash/
.autobench.conf
.bash_history
.vagrant/
.ssh/
*.swp
sqlworkbench/
.sqlworkbench/
.oracle*
.meteorsession
.linkchecker/
.matplotlib/
.cups/
.vagrant.d//
.vagrant.d/
